.profile{
    height: 100vh;
    color: white;
}

.profile__body{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-inline: auto;
}

.profile__info{
    display: flex;
}

.profile__info img{
    height: 100px;
}

.profile__body h1{
    font-size: 60px;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;
}

.profile__details{
    color: white;
    margin-left: 25px;
    flex: 1;
}

.profile__details h2{
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
}

.profile__signOut{
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    color: white;
    background-color: #e50914;
    border: none;
    outline: none;
    cursor: pointer;
}

.profile__plans{
    margin-top: 20px;
}